{% extends 'layout.html.twig' %}

{% block title %}Getsession{% endblock %}

{% block page_contents %}
    {% if getsession %}
        <p><a href="{{ getsession  }}">Save session</a></p>
      {% endif %}    
    {% if sessionkey %}
        <p>Session key: {{  sessionkey }}</p>
        <p>New configuration was saved to the file</p>
     {% endif %}
{% endblock %}
