{% extends 'layout.html.twig' %}

{% block title %}Gettoken{% endblock %}

{% block page_contents %}
    {%  if url %} 
        <p><a target="_blank" href="{{ url  }}">Link 1</a></p>
        <p><a href="{{ url2  }}">Link 2</a></p>
     {% endif %}
{% endblock %}
